<a href="https://colab.research.google.com/github/Sudar1612/Lasso_Reg/blob/main/Lasso.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [ ]:
data = pd.read_csv('/content/DATA_2.csv')
data.head()

                       name  year  ...  transmission         owner
0             Maruti 800 AC  2007  ...        Manual   First Owner
1  Maruti Wagon R LXI Minor  2007  ...        Manual   First Owner
2      Hyundai Verna 1.6 SX  2012  ...        Manual   First Owner
3    Datsun RediGO T Option  2017  ...        Manual   First Owner
4     Honda Amaze VX i-DTEC  2014  ...        Manual  Second Owner

[5 rows x 8 columns]

In [ ]:
x = data.iloc[:,1].values  ## input(features)
y = data.iloc[:,1].values  ## output(target)

In [ ]:
x = x.reshape(-1,1)
y = y.reshape(-1,1)

In [ ]:
from sklearn.model_selection import train_test_split
xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size=0.20)

In [ ]:
from sklearn.linear_model import Lasso
model = Lasso()

In [ ]:
model.fit(xtrain,ytrain)

Lasso()

In [ ]:
y_predict=model.predict(xtest)

In [ ]:
from sklearn.metrics import r2_score
r2_score(y_predict,ytest)

0.9966743038594612